{% extends "base.html" %}

{% block navitems %}
<li class="nav-item">
    <a class="nav-link" id="menu-toggle" href="javascript:void(0)">Toggle Sidebar</a>
</li>
{% endblock %}

{% block content %}


<div class="d-flex" id="wrapper">

    <div class="position-fixed bg-dark border-right" id="sidebar-wrapper">
        <div style="padding-bottom: 0px; margin-bottom: 0px;" class="sidebar-heading text-light">{{ servername }}
            <div><p id="status" style="color: green;">Running</p></div>
            <div class="btn-group">
                <button style="font-size: 10px;" type="button" onclick="start_server('{{ servername }}')"
                        class="btn btn-success">Start
                </button>
                <button style="font-size: 10px;" type="button" onclick="stop_server('{{ servername }}')"
                        class="btn btn-danger">Stop
                </button>
                <button style="font-size: 10px;" type="button" onclick="restart_server('{{ servername }}')"
                        class="btn btn-primary">Restart
                </button>
                <button style="font-size: 10px;" type="button" onclick="delete_server('{{ servername }}')"
                        class="btn btn-danger">Delete
                </button>
            </div>
        </div>
        <div class=" list-group list-group-flush">
            <a href="#settings" class=" list-group-item list-group-item-action bg-dark text-light">Settings</a>
            <a href="#mods-list" class="list-group-item list-group-item-action bg-dark text-light">Mods</a>
            <a href="#serverlogs" class="list-group-item list-group-item-action bg-dark text-light">Logs</a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <div class="container">

            <section id="settings2">
                <br>
                <h2 id="settings">Settings</h2>
                <h3>minetest.conf</h3>
                <small class="text-muted">Auto Save</small>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="minetestconf"></tbody>
                </table>
            </section>
            <h2 id="mods">Mods</h2>
            <h3 id="mods-list">Mod List</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Mod</th>
                    <th style="width: 50px;">Active</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="modsconfig">
                <tr>
                </tr>
                </tbody>
            </table>
            <h3 id="mods-dl">Mod Downloader</h3>

            <div class="input-group mb-3">
                <input type="text" id="git_dl" class="form-control" placeholder="Type Mod Url Here (git)">
                <div class="input-group-append">
                    <button onclick="git_dl()" class="btn btn-success">Download</button>
                </div>
            </div>

            <h2 id="serverlogs">Logs</h2>
            <div class="form-group">
                <textarea class="form-control" rows="20" id="logs"></textarea>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='edit.js') }}"></script>
{% endblock %}