{% extends "base.html" %}
{% block content %}
<div class="container">
    <br>
    <h1>Minetest Servers</h1>
    <a href="/new/">
        <button type="button" class="btn btn-success">Create New</button>
    </a><br><br>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Port</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for server in servers %}
        <tr>
            <td><a href="/edit/{{ server.name }}?server={{ server.name }}">{{ server.name }}</a></td>
            <td>{{ server.port }}</td>
            <td><span style="font-size: large; background-color: {{ server.badge_color }}"
                      class="status badge badge-success">{{ server.status }}</span></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}