{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="login-area">
        <h1>Sign In</h1>
    {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}
