{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="create-server-area">
        <h1>Create Server</h1>
        {{ wtf.quick_form(form) }}

    </div>
</div>
{% endblock %}
